In [8]:
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.model_selection import train_test_split
import numpy as np
import pandas_datareader as web

In [9]:
df = web.DataReader("RELIANCE.ns", "yahoo", start = "2014-01-01", end = "2020-03-24")

In [10]:
df.head()
df = df[["Adj Close"]]
df

              Adj Close
Date
2014-01-01   406.743805
2014-01-02   400.428467
2014-01-03   395.508942
2014-01-06   391.252930
2014-01-07   385.372345
2014-01-08   388.552856
2014-01-09   389.307983
2014-01-10   392.717377
2014-01-13   402.899689
2014-01-14   403.403076
2014-01-15   405.210724
2014-01-16   405.531067
2014-01-17   404.890411
2014-01-20   398.025909
2014-01-21   394.959778
2014-01-22   399.261536
2014-01-23   396.218262
2014-01-24   397.064880
2014-01-27   385.852905
2014-01-28   386.630859
2014-01-29   382.855347
2014-01-30   377.546814
2014-01-31   380.361298
2014-02-03   375.670563
2014-02-04   375.968018
2014-02-05   374.000183
2014-02-06   373.359497
2014-02-07   372.718842
2014-02-10   376.151093
2014-02-11   368.508606
...                 ...
2020-02-10  1435.599976
2020-02-11  1452.750000
2020-02-12  1470.300049
2020-02-13  1474.150024
2020-02-14  1487.599976
2020-02-17  1478.250000
2020-02-18  1467.400024
2020-02-19  1503.800049
2020-02-20  1485.949951
2020-02-24  1444.949951
2020-02-25  1416.400024
2020-02-26  1392.000000
2020-02-27  1386.250000
2020-02-28  1328.650024
2020-03-02  1316.150024
2020-03-03  1342.849976
2020-03-04  1339.699951
2020-03-05  1311.150024
2020-03-06  1271.000000
2020-03-09  1114.150024
2020-03-11  1153.550049
2020-03-12  1063.000000
2020-03-13  1105.300049
2020-03-16  1015.700012
2020-03-17  1008.000000
2020-03-18   968.500000
2020-03-19   917.700012
2020-03-20  1017.950012
2020-03-23   884.049988
2020-03-24   943.400024

[1530 rows x 1 columns]

In [11]:
#no. of days we want to predict
forecast_out = 1
#new column (target or dependent variable )
df["prediction"] = df[["Adj Close"]].shift(-forecast_out)
df

              Adj Close   prediction
Date
2014-01-01   406.743805   400.428467
2014-01-02   400.428467   395.508942
2014-01-03   395.508942   391.252930
2014-01-06   391.252930   385.372345
2014-01-07   385.372345   388.552856
2014-01-08   388.552856   389.307983
2014-01-09   389.307983   392.717377
2014-01-10   392.717377   402.899689
2014-01-13   402.899689   403.403076
2014-01-14   403.403076   405.210724
2014-01-15   405.210724   405.531067
2014-01-16   405.531067   404.890411
2014-01-17   404.890411   398.025909
2014-01-20   398.025909   394.959778
2014-01-21   394.959778   399.261536
2014-01-22   399.261536   396.218262
2014-01-23   396.218262   397.064880
2014-01-24   397.064880   385.852905
2014-01-27   385.852905   386.630859
2014-01-28   386.630859   382.855347
2014-01-29   382.855347   377.546814
2014-01-30   377.546814   380.361298
2014-01-31   380.361298   375.670563
2014-02-03   375.670563   375.968018
2014-02-04   375.968018   374.000183
2014-02-05   374.000183   373.359497
2014-02-06   373.359497   372.718842
2014-02-07   372.718842   376.151093
2014-02-10   376.151093   368.508606
2014-02-11   368.508606   374.297668
...                 ...          ...
2020-02-10  1435.599976  1452.750000
2020-02-11  1452.750000  1470.300049
2020-02-12  1470.300049  1474.150024
2020-02-13  1474.150024  1487.599976
2020-02-14  1487.599976  1478.250000
2020-02-17  1478.250000  1467.400024
2020-02-18  1467.400024  1503.800049
2020-02-19  1503.800049  1485.949951
2020-02-20  1485.949951  1444.949951
2020-02-24  1444.949951  1416.400024
2020-02-25  1416.400024  1392.000000
2020-02-26  1392.000000  1386.250000
2020-02-27  1386.250000  1328.650024
2020-02-28  1328.650024  1316.150024
2020-03-02  1316.150024  1342.849976
2020-03-03  1342.849976  1339.699951
2020-03-04  1339.699951  1311.150024
2020-03-05  1311.150024  1271.000000
2020-03-06  1271.000000  1114.150024
2020-03-09  1114.150024  1153.550049
2020-03-11  1153.550049  1063.000000
2020-03-12  1063.000000  1105.300049
2020-03-13  1105.300049  1015.700012
2020-03-16  1015.700012  1008.000000
2020-03-17  1008.000000   968.500000
2020-03-18   968.500000   917.700012
2020-03-19   917.700012  1017.950012
2020-03-20  1017.950012   884.049988
2020-03-23   884.049988   943.400024
2020-03-24   943.400024          NaN

[1530 rows x 2 columns]

In [12]:
#create the independent dataset x
#convert the df into numpy array
x = np.array(df.drop(["prediction"],1))
#remocve last n rows
x = x[:-forecast_out]
x

array([[ 406.74380493],
       [ 400.4284668 ],
       [ 395.50894165],
       ...,
       [ 917.70001221],
       [1017.95001221],
       [ 884.04998779]])

In [13]:
#create the dependent dataset y
#convert the datafreame tp a numpy array 
y = np.array(df["prediction"])
#remocve last n rows
y = y[:-forecast_out]
y

array([ 400.4284668 ,  395.50894165,  391.25292969, ..., 1017.95001221,
        884.04998779,  943.40002441])

In [14]:
#split the data into train and test 
x_train,x_test,y_train, y_test = train_test_split(x,y,test_size = 0.2)

In [15]:
#create and train model (SVM)(regressor)
model = SVR(kernel = "rbf",C = 1e3, gamma = 0.1)
model.fit(x_train,y_train)

SVR(C=1000.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma=0.1,
  kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [16]:
#testing model 
# best possible score is 1.0
svm_confidence = model.score(x_test,y_test)
svm_confidence

0.9876228739305591

In [17]:
#create and train the linear regression model
lr = LinearRegression()
lr.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [18]:
lr_confidence = lr.score(x_test,y_test)
lr_confidence

0.997007976238186

In [19]:
#set x_forecastequal to the last 30 rows of the original data set from adj, close column 
x_forecast = np.array(df.drop(["prediction"],1))[-forecast_out:]
x_forecast

array([[943.40002441]])

In [20]:
#print the LR model prediction for next"n" dasy
lr_prediction = lr.predict(x_forecast)
print(lr_prediction)
#print the LR model prediction for next"n" dasy
svm_prediction = model.predict(x_forecast)
print(svm_prediction)

[943.75047851]
[960.55431052]